

.transactionsListContainer {
  border: 1px solid gray;
  border-radius: 30px;
  padding: 10px;
  height: calc(100% - 10px);
  margin-bottom: 10px;
}

.transactionsListTitle {
  text-align: center;
  font-size: 1.5rem;
}

.transactionsListBlock{
  
}

.transactionsList{
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.transaction{
  font-size: 0.9rem;
  min-height: 60px;
  border: 1px solid black;
  border-radius: 9999px;
  padding: 5px 10px;
  margin: 10px 2px;
  background-color: lightsalmon;
}