

.leftColumn, .rightColumn {
  box-sizing: border-box;
}

.leftColumn {
  max-width: 70%;
  flex: 0 1 70%;
  order: 1;
  padding-right: 1%;
}

.rightColumn {
  max-width: 30%;
  flex: 0 1 30%;
  order: 2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftColumn, .rightColumn {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .leftColumn{
    order: 2;
  }
  .rightColumn {
    order: 1;
  }
}